dist: xenial
language: python
cache: pip
env:
- TEST_CMD="python -m pytest -v --cov=pegen --cov-report term"
install:
- pip install pytest
- pip install pytest-cov
- pip install coveralls
- pip install git+https://github.com/python/mypy.git@refs/pull/6899/head
script:
- $TEST_CMD
after_success:
- coveralls
notifications:
  on_success: change
  on_failure: always
matrix:
  include:
    - name: "3.8-dev"
      python: 3.8-dev
    - name: "mypy"
      python: 3.8-dev
      env:
          - TEST_CMD="mypy pegen"

