language: python
python: 3.10-dev

notifications:
  on_success: change
  on_failure: always

install:
    pip install -r requirements-test.pip
cache: pip

env:
- PYTHON="python"

script:
- mypy pegen

matrix:
  include:
    - name: "mypy"
      script:
          - make mypy

    - name: "black"
      script:
          - python -m black pegen tatsu test scripts --check

    - name: "pytest"
      script:
          - python -m pytest -v --cov=pegen --cov-report term
      after_success:
          - coveralls

    - name: "makefile_targets"
      script:
          - make clean
          - make dump
          - make test
##          - make simpy
          - make regen-metaparser

##    - name: "simpy_cpython"
##      script:
##          - tar xzf data/cpython-lib.tgz
##          - make clean
##          - make simpy_cpython
