name: Run pytest

on:
  pull_request:
    branches:
      - master

jobs:
  pytest:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.10-dev
      uses: actions/setup-python@v2
      with:
        python-version: 3.10-dev
    - name: Cache pip dependencies
      uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: Install Python dependencies
      run: |
        python3 -m pip install --upgrade pip
        python3 -m pip install -r requirements-test.pip
    - name: Test
      run: pytest -v --cov=pegen --cov-report term -k 'not test_ast_generation and not test_c_parser and not test_tracebacks'
    - name: Publish coverage report
      run: coveralls
